.table{
	display:flex;
	justify-content:space-around;
}
#table{
	border:1px solid black;
}
.line{
	display:flex;
	justify-content:space-around;
}
.para{
	display:flex;
	justify-content:space-between;
}
.border{
	border:1px solid gray;
	background-color:gray;
	padding:5px;
}
	